@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;padding: 0;
}
:root{
  --mainfont:"Noto Sans", sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
li{list-style: none;}
#root {
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

header{
  width: 100%;
  height: 10vw;
  .header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    h1{
      max-width: 250px;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        img{
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
    }
    .gnb{
      display: flex;
      gap: 1rem;
      font-family: var(--mainfont);
      font-size: 1.5rem;
      letter-spacing: -0.07rem;
    }
  }
}

.page-inner{
  width: 95%;
  margin: 0 auto;
  .font-grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: var(--mainfont);
    .font-card{
      box-sizing: border-box;
      width: calc(100% / 5);
      height: 300px;
      border: 1px solid;
      .font-title{
        text-align-last: left;
        text-indent: 1rem;
      }
      .fonts{
        text-align: left;
        font-size: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.pagination{
  border: none;
  border-radius: 7px;
  font-size: 22px;
  font-family: var(--mainfont);
  padding: 0.2rem;
}
.pagination.active{
  background-color: black;
  color: white;
}
.arrow{
  border: none;
  font-size: 22px;
  font-family: var(--mainfont);
  padding: 0.2rem;
}